# IntelliJ / IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/


# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# Editor swaps
*~
*.swp

# Si quieres poder añadirlos (por ejemplo con Git LFS), deja esta excepción:
#!numeros_*.txt
