# IntelliJ / IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/


# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# Editor swaps
*~
*.swp

# Ficheros de datos grandes de la práctica
# - Si NO quieres subirlos al repositorio, deja la regla de ignorado.
# - Si quieres versionarlos con Git LFS, comenta la regla o usa la excepción '!numeros_*.txt'.
#
numeros_*.txt

# Si quieres poder añadirlos (por ejemplo con Git LFS), deja esta excepción:
#!numeros_*.txt
